:root {
  --primaryColor: hsl(26, 93%, 50%);
  --HoverColor: hsl(26, 90%, 42%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--greyBg);
  margin: 0;
  padding: 0;
}

.gallery-container {
  padding: 2rem;
  max-width: 1200px; // Limit the max width of the container
  margin: 0 auto; // Center the container

  .back-button-container {
    padding: 1rem;
    text-align: left;

    .back-button {
      display: flex;
      align-items: center;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      background: var(--whiteColorDeam);
      color: var(--blackColor);
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background 0.3s ease;

      .icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }

      &:hover {
        background: var(--HoverColor);
      }
    }
  }

  .places-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); // Automatically fit columns based on available space
    gap: 2rem;

    .image-card {
      background: var(--whiteColor);
      border-radius: 1rem;
      box-shadow: var(--box-shadow);
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(178, 178, 178, 0.334);
      }

      .image {
        width: 100%;
        height: 200px; // Set a consistent height for images
        object-fit: cover;
        border-bottom: 2px solid var(--primaryColor);
      }

      .description {
        padding: 1.5rem; // Increased padding for more breathing space
        font-size: 0.95rem; // Slightly increased font size
        color: var(--textColor);
        text-align: justify;
        line-height: 1.6; // Increased line height for better readability
        margin: 0; // Ensure no extra margin
      }
    }
  }
}

// Media queries for different screen sizes
@media (min-width: 600px) {
  .places-grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); // Adjust column width for medium screens
  }
}

@media (min-width: 900px) {
  .places-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); // Wider cards for large screens
  }
}

@media (min-width: 1200px) {
  .places-grid {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); // Largest card width for extra large screens
  }
}
